#content {
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
    font-family: 'Cinzel', serif;
    transform: scale(0.85, 0.85);
}

body canvas {
    margin-right: 13%;
    margin-left: -12%;
    transform: scale(1.4, 1);
}

h1 {
    color: gold;
    text-align: center;
    margin: 1%;
    font-size: 32px;
}

h3 {
    color: gold;
    text-align: center;
    font-size: 20px;
    margin: 2% 0;
}

.xbox-container {
    color: gold;
    border: 1px solid gold;
    border-radius: 5px;
    padding: 1% 2% 2% 2%;
    height: fit-content;
    margin-top: 3%;
}

.header-container a {
    color: gold;
    font-size: 50px;
    padding: 0% 5% 0 0;
}

.fab:hover, .fas:hover {
    color: white;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header-left {
    width: 80%;
}

.header-right {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5%;
    margin-right: 3%;
}

h4 {
    color: gold;
    text-align: right;
    margin-right: 3.5%;
}

.radio-btn {
    width: 100%;
    font-size: 20px;
    color: gold;
    background-color: black;
    border: 1px solid gold;
    border-radius: 5px;
    margin-top: 2%;
}

.radio-btn:focus {
    outline: 0;
}

input[type=checkbox] {
    zoom: 1.5;
}

.radio-btn:hover {
    background-color: white;
    color: black;
}

.content-right {
    position: relative;
    width: fit-content;
}

/* bar graph */
#bar {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
}

.bar-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.91);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.axis {
	font: 15px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
  z-index: 100;
}

.x-btn {
    color: gold;
    font-size: 40px;
    position: absolute;
    right: 10vw;
    top: 8vh;
    border: 3px solid gold;
    padding: 0.5% 1%;
}

.x-btn:hover {
    cursor: pointer;
    border: 3px solid white;
    color: white;
}

/* GAUGE */
#gauge {
    background-color: black;
    display: block;
    margin: 0 auto;
    margin-top: -5%;
    margin-bottom: -2%;
}

p {
    color: gold;
    text-align: center;
    margin-top: 7%;
}

.axis .domain, .axis .tick line {
    stroke-width: 2px;
    stroke: DarkSlateGrey;
}

.axis .tick text {
    fill: gold;
    font-size: 20px;
}

.needle {
    fill: red;
}

.label {
    fill: gold;
    font-size: 44px;
}

@media only screen and (min-width: 1800px) {
    #content {
        margin-top: 3%;
    }
}

a {
    text-decoration: none;
}