#content {
    margin-top: 3%;
    display: flex;
}

body {
    background-color: black;
    font-family: 'Cinzel', serif;
}

body canvas {
    margin-right: 10%;
}

h1 {
    color: gold;
    text-align: center;
    margin: 1%;
    font-size: 32px;
}

h3 {
    color: gold;
    text-align: center;
    font-size: 20px;
    margin: 5% 0;
}

.xbox-container {
    color: gold;
    border: 1px solid gold;
    border-radius: 5px;
    padding: 1% 10% 2% 2%;
    height: fit-content;
    margin-top: 3%;
}

.header-container a {
    color: gold;
    font-size: 50px;
    padding: 0% 5% 0 0;
}

.fab:hover, .fas:hover {
    color: white;
}

.header-container {
    display: flex;
    justify-content: flex-end;
}

.header-left {
    width: 80%;
}

.header-right {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5%;
    margin-right: 3%;
}

h4 {
    color: gold;
    text-align: right;
    margin-right: 3.5%;
}

.radio-btn {
    width: 50%;
    font-size: 20px;
    color: gold;
    background-color: black;
    border: 1px solid gold;
    border-radius: 5px;
    margin-top: 2%;
}

input[type=checkbox] {
    zoom: 1.5;
}

.radio-btn:hover {
    background-color:rgb(104, 104, 104);
}

/* bar graph */
#bar {
    background-color: black;
}

.axis {
	font: 15px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

/* GAUGE */
#gauge {
    background-color: black;
}

.axis .domain, .axis .tick line {
    stroke-width: 2px;
    stroke: DarkSlateGrey;
}

.axis .tick text {
    fill: gold;
    font-size: 18px;
}

.needle {
    fill: red;
}

.label {
    fill: gold;
    font-size: 44px;
}